.contact {

  &__header {
    animation:
      shimmy 2s ease forwards,
      fadeIn 2s ease-in forwards,
      focus 2s ease-in forwards;
  }

  &__item{
    font-size: 2rem;
    margin: 3rem 0;
    opacity: 0;
    animation:
      fadeIn 2s ease-in forwards,
      focus 2s ease-in forwards;

    &:nth-child(2) {
      animation-delay: 0.5s
    }

    &:nth-child(3) {
      animation-delay: 1.0s
    }

    &:nth-child(4) {
      animation-delay: 1.5s
    }
  }
}

.icons {
  fill: currentColor;
  margin-right: 1.5rem;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: inherit;
}

.email:after,
.phone:after {
  color: currentColor;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-left: 1.5rem;
}

.email:after {
  content: 'benson.michael.w@gmail.com';
}

.phone:after {
  content: '360.474.5133';
}
