<section id="contact" class="section contact">
  <div class="content">
    <h4 class="contact__header">Where to find me:</h4>
    <ul class="contact__list">
      <li class="contact__item">
        <a href="mailto:benson.michael.w@gmail.com">
          <i class="fas fa-envelope icons email"></i>
        </a>
      </li>
      <li class="contact__item">
        <i class="fa fa-phone icons phone"></i>
      </li>
      <li class="contact__item">
        <a href="https://github.com/freefaller69">
          <i class="fab fa-github icons"></i>GitHub
        </a>
      </li>
      <li class="contact__item">
        <a href="https://www.linkedin.com/in/michael-w-benson/">
          <i class="fab fa-linkedin icons"></i>LinkedIn
        </a>
      </li>
    </ul>
  </div>
</section>
