<section id="contact" class=" section contact">
    <div class="content">
      <h4>Where to find me:</h4>
      <ul class="contact__list">
        <li class="contact__item">
            <strong>
              <i class="fas fa-envelope icons"></i> <span class="email">Email:</span></strong>
            <a href="mailto:benson.michael.w@gmail.com"></a>
        </li>
        <li class="contact__item">

              <i class="fa fa-phone icons"></i> <span class="phone">Phone:</span>
        </li>
        <li class="contact__item">
            <a href="https://github.com/freefaller69">
              <strong>
                <i class="fab fa-github icons"></i>GitHub
              </strong>
            </a>
        </li>
        <li class="contact__item">
            <a href="https://www.linkedin.com/in/michael-w-benson/">
              <strong>
                <i class="fab fa-linkedin icons"></i>LinkedIn
              </strong>
            </a>
        </li>
      </ul>
    </div>
  </section>
