.card {
  display: inline-block;
  perspective: 120rem;
  -moz-perspective: 120rem;
  background-color: transparent;
  text-shadow: none;
  position: relative;
  height: 30rem;
  width: 100%;
  border: none;

  &__side {
    display: inline-block;

    // color: #fff;
    // font-size: 2rem;

    height: 30rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#fff, .15);

    &--back {
      transform: rotateY(180deg);
      background-image: var(--back-gradient);
    }
  }


  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23.5rem;

    &--1 {
      background-image: url(../../../assets/img/newera-400.jpg);
    }

    &--2 {
      background-image: url(../../../assets/img/chat-400.jpg);
    }
  }

  &__name,
  &__info {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__name,
  &__title {
    // text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--white);
  }

  &__name {
    height: 100%;
    background-image: var(--name-gradient);
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

  }
}

.gallery {
  width: 90vw;
  height: 70vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 40rem));
  justify-content: center;
  align-content: flex-start;
  grid-column-gap: 2vw;
  grid-row-gap: 5vh;
}

.tech {

  &__item {
    font-size: 5rem;
    padding: 1rem;
  }
}
