.section {
  display: grid;
  align-content: flex-start;
}

.content {
  margin-top: 0;
}

.text-content {
  opacity: 0;

  &:nth-child(even) {
    animation:
      shimmy 1.5s ease forwards,
      fadeIn 1.5s ease-in forwards,
      focus 1.5s ease-in forwards;
  }

  &:nth-child(odd) {
    animation:
      shimmy 1.5s ease reverse,
      fadeIn 1.5s ease-in forwards,
      focus 1.5s ease-in forwards;
  }
}
