<section id="about" class="section about">

    <div class="content about__text">
      <p class="lead text-content">I love bringing code to life.</p>
      <p class="text-content">I am from the greater Seattle area. I enjoy photography, playing guitar, and snowboarding when I can get up on the slopes.</p>
      <p class="text-content">My background is in the Finance and Payroll sector. My favorite aspects of that work were problem solving and trying to develop more efficient and effective ways to complete routine tasks. That is what led me to change my focus to web software development.</p>
      <p class="text-content">I have done web freelance work in the past and always enjoyed working with code.  To take a practical vision and make it real always feels rewarding. At the beginning of 2017 I decided to expand my skill set and make this my full time passion and pursuit.</p>
    </div>

  </section>
