.navbar,
.navigation {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: 10vh;
  padding: 0 2rem;
  width: 100%;
  padding: 1rem 2.5rem;
  animation:
    fadeIn 2s ease-in forwards,
    focus 2s ease-in forwards;

  &__brand {
    font-size: 2.5rem;
    color: var(--white);
    text-decoration: none;
    height: 4.5rem;
  }

  @media screen and (max-width: 700px) {

    flex-direction: column;

  }
}

.navigation {

  &__item {
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: '';
      display: block;
      background-color: currentColor;
      box-shadow: 2px 2px rgba(0, 0, 0, .5);
      height: 3px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center;
      transition: 0.3s;
    }

    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }

  }

  &__link:link,
  &__link:visited {
    color: #fff;
    text-decoration: none;
  }
}

.active {

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 2px 2px rgba(0, 0, 0, .5);
    height: 3px;
    width: 100%;
    transform: scaleX(1);
  }
}
