<nav class="navbar">
  <a routerLink="/" class="navbar__brand">Michael W Benson</a>
  <div id="navbar__navigation">
    <ul class="navigation" role="navigation">
      <li routerLinkActive="active" class="navigation__item">
        <a routerLink="/portfolio" class="navigation__link">PORTFOLIO</a>
      </li>
      <li routerLinkActive="active" class="navigation__item">
        <a routerLink="/about" class="navigation__link">ABOUT</a>
      </li>
      <li routerLinkActive="active" class="navigation__item">
        <a routerLink="/contact" class="navigation__link">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
