.content {
  width: 50vw;
}

@media screen and (max-width: 100rem) {

  .content {
    width: 60vw;
  }

}

@media screen and (max-width: 80rem) {

  .content {
    width: 70vw;
  }

}

@media screen and (max-width: 60rem) {

  .content {
    width: 80vw;
  }

}
