<section id="about" fxLayout fxLayoutAlign="center center">

      <div class="content">
        <p class="lead">I love bringing code to life and solving problems.</p>
        <p class="hidden-sm-down">I am from the greater Seattle area.  I enjoy photography, playing guitar, and snowboarding when I can get up on the slopes.</p>
        <p>My background is in the Finance and Payroll sector. My favorite aspects of that work were problem solving and trying to develop
        more efficient and effective way to complete regular tasks.  That is what led me to change my focus to web software development.</p>
        <p>I have done web freelance work in the past and always enjoyed working with code to take a practical vision and make it real.  This past March I decided to expand my skill set and make this my full time passion and pursuit.</p>
        <p>I have built upon a foundation of the core web languages: HTML, CSS, and JavaScript and now build Single Page Applications with frameworks like Angular and Node.js.  In addition I have built Python applications with the Django framework.  These have been supported with both MySQL and NoSQL databases for user data and user authentication.</p>
      </div>

</section>