<nav class="navbar navbar-default">
  <div fxLayout fxLayout.lt-md="column" fxLayoutWrap fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
    <div class="navbar-header" fxFlexOrder.lt-md="2">
      <a routerLink="/" class="navbar-brand">Michael W Benson</a>
    </div>

    <div id="navigation" fxLayoutAlign.xs="end center" fxFlexOrder.lt-md="1">
      <ul class="nav navbar-nav float-sm-right">
        <li routerLinkActive="active">
          <a routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">ABOUT</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

