<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Michael W Benson</a>
    </div>

    <div class="collapse navbar-toggleable-xs" id="navigation">
      <ul class="nav navbar-nav float-sm-right">
        <li routerLinkActive="active">
          <a routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">ABOUT</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>