nav ul {
  display: flex;
}

nav ul li {
  margin: 0;
  padding: 10px;
}

.navbar-toggler {
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li,
nav div a {
  border-radius: 25px;
}

nav ul li:hover {
  background-color: #899296;
  box-shadow: 2px 2px 5px 0px #222;
}

nav div a:hover {
  background-color: #899296;
}

.active {
  background-color: #899296;
  border-radius: 25px; 
  box-shadow: 2px 2px 5px 0px #222;
}

