

nav ul {
  display: flex;
}

nav ul li {
  margin: 0;
  padding: 10px;
}

.navbar-toggler {
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background-color: rgb(98, 219, 61);
}
