nav ul {
  display: flex;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul li,
nav div a {
  margin: 0 5px;
  padding: 10px;
  border-radius: 15px;
}

nav ul li {
  list-style-type: none;
}


.active {
  background-color: rgba(137, 146, 150, 0.5);
  box-shadow: 2px 2px 5px 0px #222;
}


