<section id="contact" fxLayout fxLayoutAlign="center center" fxLayoutAlign.sm="center start">
  <div class="content">
    <h3>Where to find me:</h3>
    <ul class="list-unstyled">
      <li>
        <p>
          <strong>
            <i class="fa fa-envelope"></i> Email:</strong>
          <a href="mailto:benson.michael.w@gmail.com">benson.michael.w@gmail.com</a>
        </p>
      </li>
      <li>
        <p>
          <strong>
            <i class="fa fa-phone"></i> Phone:</strong> 406-407-9596
        </p>
      </li>
      <li>
        <p>
          <a href="https://github.com/freefaller69">
            <strong>
              <i class="fa fa-github"></i>
            </strong>
            GitHub
          </a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.linkedin.com/in/michael-w-benson/">
            <strong>
              <i class="fa fa-linkedin"></i>
            </strong>
            LinkedIn
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>