.content {
  width: 50rem;
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

i {
  color: #fff;
  margin-right: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: inherit;
}

@media screen and (max-width: 37.5rem) {

  .content {
    width: 90vw;
  }
}
