<section id="main" fxLayout fxLayoutAlign="center center">

  <div class="content">
    <!-- <img src="img/logo.png" class="img-fluid" /> -->
    <h2>MICHAEL W BENSON</h2>
    <h4>FULL STACK WEB DEVELOPER</h4>
    <h5>I love solving problems.</h5>
    <p>I work with a myriad of technologies to connect people with the information they seek. My foundational languages are
      Angular with Node.js and Python with Django for both MySQL and NoSQL approaches. I am constantly studying and learning
      new skills to keep up with the ever changing web.</p>
  </div>

</section>