<section id="about" fxLayout fxLayoutAlign="center center" fxLayoutAlign.lt-md="center start">

<div class="content gallery">

    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture--1">
          <!-- <img src="assets/img/newera-400.jpg" alt=""> -->
        </div>
        <div class="card__name">
          A New Era For Down Syndrome
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__info">
          <h4 class="card__title">
            <span class="card__title-span card__title-span--1">
              A New Era For Down Syndrome
            </span>
          </h4>
          <div class="card__description">
            <p>BACK</p>
          </div>
          <a target="_blank" href="http://anewera.s3-website-us-west-2.amazonaws.com/" class="btn btn--blue">Visit</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture--2">
          <!-- <img src="assets/img/chat-400.jpg" alt=""> -->
        </div>
        <div class="card__name">
          NodeJS Chat Client
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__info">
          <h4 class="card__title">
            <span class="card__title-span card__title-span--1">
              NodeJS Chat Client
            </span>
          </h4>
          <div class="card__description">
            <p>BACK</p>
          </div>
          <a target="_blank" href="https://stormy-fortress-35742.herokuapp.com/" class="btn btn--blue">Visit</a>
        </div>
      </div>
    </div>

  </div>

</section>
