<section id="main" class=" section main">

    <div class="content">
      <!-- <img src="img/logo.png" class="img-fluid" /> -->
      <ul class="main-header">
        <li class="letter" [ngClass]="{blank: letter === ' '}" *ngFor="let letter of letters">{{ letter }}</li>
      </ul>
      <!-- <h2>MICHAEL W BENSON</h2> -->
      <h4 class="subhead">FULL STACK WEB DEVELOPER</h4>
      <p class="lead text-content">Problem solving is my forte.</p>
      <p class="text-content">I work with a myriad of technologies to connect people with the information they seek. My foundational languages are JavaScript and Python.  I have worked with a number of frameworks including Angular, Node.js and Django. I have worked with both MySQL and NoSQL databases. I am constantly studying and learning new skills to keep up with the ever changing web.</p>
    </div>

  </section>
